body {
  font-family: sans-serif;
}

.profile {
  margin-top: 230px;
  position: absolute;
  transform: translate(5%, -60%);
  display: flex;
}
.profile_img img {
  width: 680px;
  height: 750px;
}

.profile .profile_img {
  width: 400px;
  margin-top: -280px;
}

.profile .content {
  padding-left: 100px;
  padding-top: 50px;
}

.content p {
  font-size: 25px;
}

.social {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.icon img {
  width: 40px;
  height: 40px;
}

.social .icon {
  padding-right: 10px;
}
