body {
  font-family: sans-serif;
}

.profile {
  display: flex;
}
.profile_img img {
  width: 680px;
  height: 750px;
}

.profile .profile_img {
  width: 400px;
  margin-top: -280px;
}

.profile .content {
  padding-left: 90px;
  padding-top: 50px;
}

.content h5 {
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.01em;

  color: #000000;
}
.content h1 {
  padding-left: 35px;
}

.content p {
  font-size: 25px;
  padding-left: 35px;
}

.social {
  display: flex;
  flex-direction: row;
  padding-left: 35px;
}

.social .icon {
  display: flex;
  padding-right: 10px;
}

.social .icon img{
  width: 40px;
  height: 40px;
}

/* PEMISAH  */
.tl {
  display: flex;
  justify-content: space-evenly;
}

.education {
  /* margin-top: 35%; */
  display: block;
}

.experience {
  /* margin-top: 35%; */
  display: block;
}

.tl .education {
  display: block;
  flex: 0 500px 550px;
}

.timeline {
  margin-top: 20px;
  position: relative;
  color: #ffff;
}

.timeline:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background: #212529;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
  left: 14px;
  top: 5px;
  border-radius: 4px;
}

.timeline-month {
  position: relative;
  padding: 4px 15px 4px 35px;
  background-color: #0b0f15;
  color: #ffff;
  display: inline-block;
  width: auto;
  border-radius: 40px;
  border: 1px solid #17191b;
  border-right-color: black;
  margin-bottom: 30px;
}

.timeline-month:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #1c1c84;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
  border-radius: 100%;
  border: 1px solid #17191b;
  left: 5px;
}

.timeline-section {
  padding-left: 35px;
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.timeline-date {
  margin-bottom: 15px;
  padding: 2px 15px;
  background: #212529;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #17191b;
  color: #ffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.timeline-section:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #444950;
  top: 12px;
  left: 20px;
}

.timeline-section:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #1c1c84;
  top: 7px;
  left: 11px;
  border: 1px solid #17191b;
  border-radius: 100%;
}

.timeline-section .col-sm-4 {
  margin-bottom: 15px;
}

.timeline-box {
  position: relative;

  background-color: #444950;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #17191b;
  transition: all 0.3s ease;
  overflow: hidden;
}

.box-icon {
  position: absolute;
  right: 5px;
  top: 0px;
}

.box-title {
  padding: 5px 15px;
  border-bottom: 1px solid #17191b;
}

.box-title i {
  margin-right: 5px;
}

.box-content {
  padding: 5px 15px;
  background-color: #17191b;
}

.box-content strong {
  color: #666;
  font-style: italic;
  margin-right: 5px;
}

.box-item {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.box-footer {
  padding: 15px;
  border-top: 1px solid #17191b;
  background-color: #444950;
  text-align: right;
  font-style: italic;
}

.col-sm-4 {
  width: 450px;
}

.box-item .act {
  padding-left: 10px;
}

.act li {
  float: left;
  padding: 0px;
}

.icon img{
  height: 45px;
  width: 100px;
}

.skill .icon{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
